@tailwind base;
@tailwind components;
@tailwind utilities;


// IMPORT
@import "./Components/Nav/Nav.scss";
@import "./Components/Card/Card.scss";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: black;
  color: whitesmoke;
  font-family: monospace;
}

.Home, .FAQ, .About{
  width: 80%;
  margin: auto;
  height: 100%;
  border-radius: 1em;
}

